<div>
    <h2 id="page-heading">
        <span jhiTranslate="pipelineApp.jobExecution.home.title">Job Executions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-execution" [routerLink]="['/job-execution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="pipelineApp.jobExecution.home.createLabel">
            Create a new Job Execution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobExecutions?.length === 0">
        <span jhiTranslate="pipelineApp.jobExecution.home.notFound">No jobExecutions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobExecutions && jobExecutions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobOrderTimestamp"><span jhiTranslate="pipelineApp.jobExecution.jobOrderTimestamp">Job Order Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobExecutionStatus"><span jhiTranslate="pipelineApp.jobExecution.jobExecutionStatus">Job Execution Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobExecutionEndTimestamp"><span jhiTranslate="pipelineApp.jobExecution.jobExecutionEndTimestamp">Job Execution End Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobExecutionStartTimestamp"><span jhiTranslate="pipelineApp.jobExecution.jobExecutionStartTimestamp">Job Execution Start Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="job.id"><span jhiTranslate="pipelineApp.jobExecution.job">Job</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jobExecution of jobExecutions ;trackBy: trackId">
                    <td><a [routerLink]="['/job-execution', jobExecution.id, 'view']">{{ jobExecution.id }}</a></td>
                    <td>{{ jobExecution.jobOrderTimestamp | date:'medium' }}</td>
                    <td>{{ jobExecution.jobExecutionStatus }}</td>
                    <td>{{ jobExecution.jobExecutionEndTimestamp | date:'medium' }}</td>
                    <td>{{ jobExecution.jobExecutionStartTimestamp | date:'medium' }}</td>
                    <td>
                        <div *ngIf="jobExecution.job">
                            <a [routerLink]="['/job', jobExecution.job?.id, 'view']" >{{ jobExecution.job?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job-execution', jobExecution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job-execution', jobExecution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobExecution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="jobExecutions && jobExecutions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
