<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobExecution">
            <h2><span jhiTranslate="pipelineApp.jobExecution.detail.title">Job Execution</span> {{ jobExecution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.jobExecution.jobExecutionTimestamp">Job Execution Timestamp</span></dt>
                <dd>
                    <span>{{ jobExecution.jobExecutionTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobExecution.jobOrderTimestamp">Job Order Timestamp</span></dt>
                <dd>
                    <span>{{ jobExecution.jobOrderTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobExecution.jobExecutionStatus">Job Execution Status</span></dt>
                <dd>
                    <span>{{ jobExecution.jobExecutionStatus }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobExecution.job">Job</span></dt>
                <dd>
                    <div *ngIf="jobExecution.job">
                        <a [routerLink]="['/job', jobExecution.job?.id, 'view']">{{ jobExecution.job?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-execution', jobExecution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
