<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taskExecutionConfig">
            <h2><span jhiTranslate="pipelineApp.taskExecutionConfig.detail.title">Task Execution Config</span> {{ taskExecutionConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.taskExecutionConfig.configKey">Config Key</span></dt>
                <dd>
                    <span>{{ taskExecutionConfig.configKey }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecutionConfig.configValue">Config Value</span></dt>
                <dd>
                    <span>{{ taskExecutionConfig.configValue }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecutionConfig.configVersion">Config Version</span></dt>
                <dd>
                    <span>{{ taskExecutionConfig.configVersion }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecutionConfig.taskExecution">Task Execution</span></dt>
                <dd>
                    <div *ngIf="taskExecutionConfig.taskExecution">
                        <a [routerLink]="['/task-execution', taskExecutionConfig.taskExecution?.id, 'view']">{{ taskExecutionConfig.taskExecution?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task-execution-config', taskExecutionConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
