<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-task-heading" jhiTranslate="pipelineApp.task.home.createOrEditLabel">Create or edit a Task</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pipelineApp.task.taskName" for="field_taskName">Task Name</label>
                    <input type="text" class="form-control" name="taskName" id="field_taskName"
                           formControlName="taskName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pipelineApp.task.taskType" for="field_taskType">Task Type</label>
                    <select class="form-control" name="taskType" formControlName="taskType" id="field_taskType">
                        <option value="SFTP">{{ 'pipelineApp.TaskType.SFTP' | translate }}</option>
                        <option value="SHELL">{{ 'pipelineApp.TaskType.SHELL' | translate }}</option>
                        <option value="SPARK">{{ 'pipelineApp.TaskType.SPARK' | translate }}</option>
                        <option value="SPARK_ON_DATABRICKS">{{ 'pipelineApp.TaskType.SPARK_ON_DATABRICKS' | translate }}</option>
                        <option value="SPARK_ON_KUBERNETES">{{ 'pipelineApp.TaskType.SPARK_ON_KUBERNETES' | translate }}</option>
                        <option value="SPARK_ON_EMR">{{ 'pipelineApp.TaskType.SPARK_ON_EMR' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pipelineApp.task.createTimestamp" for="field_createTimestamp">Create Timestamp</label>
                    <div class="d-flex">
                        <input id="field_createTimestamp" type="datetime-local" class="form-control" name="createTimestamp" formControlName="createTimestamp" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
