<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobConfig">
            <h2><span jhiTranslate="pipelineApp.jobConfig.detail.title">Job Config</span> {{ jobConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.jobConfig.configKey">Config Key</span></dt>
                <dd>
                    <span>{{ jobConfig.configKey }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobConfig.configValue">Config Value</span></dt>
                <dd>
                    <span>{{ jobConfig.configValue }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobConfig.configType">Config Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pipelineApp.ConfigType.' + jobConfig.configType }}">{{ jobConfig.configType }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobConfig.job">Job</span></dt>
                <dd>
                    <div *ngIf="jobConfig.job">
                        <a [routerLink]="['/job', jobConfig.job?.id, 'view']">{{ jobConfig.job?.jobId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-config', jobConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
