<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span jhiTranslate="pipelineApp.job.detail.title">Job</span> {{ job.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.job.jobId">Job Id</span></dt>
                <dd>
                    <span>{{ job.jobId }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.job.jobName">Job Name</span></dt>
                <dd>
                    <span>{{ job.jobName }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.job.jobStatusFlag">Job Status Flag</span></dt>
                <dd>
                    <span>{{ job.jobStatusFlag }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.job.createTimestamp">Create Timestamp</span></dt>
                <dd>
                    <span>{{ job.createTimestamp }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
