<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taskExecution">
            <h2><span jhiTranslate="pipelineApp.taskExecution.detail.title">Task Execution</span> {{ taskExecution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.taskExecution.jobOrderTimestamp">Job Order Timestamp</span></dt>
                <dd>
                    <span>{{ taskExecution.jobOrderTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecution.taskExecutionStatus">Task Execution Status</span></dt>
                <dd>
                    <span>{{ taskExecution.taskExecutionStatus }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecution.taskExecutionStartTimestamp">Task Execution Start Timestamp</span></dt>
                <dd>
                    <span>{{ taskExecution.taskExecutionStartTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecution.taskExecutionEndTimestamp">Task Execution End Timestamp</span></dt>
                <dd>
                    <span>{{ taskExecution.taskExecutionEndTimestamp }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecution.task">Task</span></dt>
                <dd>
                    <div *ngIf="taskExecution.task">
                        <a [routerLink]="['/task', taskExecution.task?.id, 'view']">{{ taskExecution.task?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pipelineApp.taskExecution.jobExecution">Job Execution</span></dt>
                <dd>
                    <div *ngIf="taskExecution.jobExecution">
                        <a [routerLink]="['/job-execution', taskExecution.jobExecution?.id, 'view']">{{ taskExecution.jobExecution?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task-execution', taskExecution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
