<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="globalConfig">
            <h2><span jhiTranslate="pipelineApp.globalConfig.detail.title">Global Config</span> {{ globalConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.globalConfig.configKey">Config Key</span></dt>
                <dd>
                    <span>{{ globalConfig.configKey }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.globalConfig.configValue">Config Value</span></dt>
                <dd>
                    <span>{{ globalConfig.configValue }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.globalConfig.configType">Config Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pipelineApp.ConfigType.' + globalConfig.configType }}">{{ globalConfig.configType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/global-config', globalConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
