<div>
    <h2 id="page-heading">
        <span jhiTranslate="pipelineApp.globalConfig.home.title">Global Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-global-config" [routerLink]="['/global-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="pipelineApp.globalConfig.home.createLabel">
            Create a new Global Config
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="globalConfigs?.length === 0">
        <span jhiTranslate="pipelineApp.globalConfig.home.notFound">No globalConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="globalConfigs && globalConfigs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="configKey"><span jhiTranslate="pipelineApp.globalConfig.configKey">Config Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="configValue"><span jhiTranslate="pipelineApp.globalConfig.configValue">Config Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="configType"><span jhiTranslate="pipelineApp.globalConfig.configType">Config Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let globalConfig of globalConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/global-config', globalConfig.id, 'view']">{{ globalConfig.id }}</a></td>
                    <td>{{ globalConfig.configKey }}</td>
                    <td>{{ globalConfig.configValue }}</td>
                    <td>{{ globalConfig.configType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/global-config', globalConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/global-config', globalConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(globalConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
