<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jobTaskOrder">
            <h2><span jhiTranslate="pipelineApp.jobTaskOrder.detail.title">Job Task Order</span> {{ jobTaskOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pipelineApp.jobTaskOrder.taskSeqId">Task Seq Id</span></dt>
                <dd>
                    <span>{{ jobTaskOrder.taskSeqId }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobTaskOrder.jobTaskStatusFlag">Job Task Status Flag</span></dt>
                <dd>
                    <span>{{ jobTaskOrder.jobTaskStatusFlag }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobTaskOrder.configVersion">Config Version</span></dt>
                <dd>
                    <span>{{ jobTaskOrder.configVersion }}</span>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobTaskOrder.job">Job</span></dt>
                <dd>
                    <div *ngIf="jobTaskOrder.job">
                        <a [routerLink]="['/job', jobTaskOrder.job?.id, 'view']">{{ jobTaskOrder.job?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pipelineApp.jobTaskOrder.task">Task</span></dt>
                <dd>
                    <div *ngIf="jobTaskOrder.task">
                        <a [routerLink]="['/task', jobTaskOrder.task?.id, 'view']">{{ jobTaskOrder.task?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job-task-order', jobTaskOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
