<div>
    <h2 id="page-heading">
        <span jhiTranslate="pipelineApp.jobTaskOrder.home.title">Job Task Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-task-order" [routerLink]="['/job-task-order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="pipelineApp.jobTaskOrder.home.createLabel">
            Create a new Job Task Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="jobTaskOrders?.length === 0">
        <span jhiTranslate="pipelineApp.jobTaskOrder.home.notFound">No jobTaskOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="jobTaskOrders && jobTaskOrders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taskSeqId"><span jhiTranslate="pipelineApp.jobTaskOrder.taskSeqId">Task Seq Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="jobTaskStatusFlag"><span jhiTranslate="pipelineApp.jobTaskOrder.jobTaskStatusFlag">Job Task Status Flag</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="configVersion"><span jhiTranslate="pipelineApp.jobTaskOrder.configVersion">Config Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="job.id"><span jhiTranslate="pipelineApp.jobTaskOrder.job">Job</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="task.id"><span jhiTranslate="pipelineApp.jobTaskOrder.task">Task</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let jobTaskOrder of jobTaskOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/job-task-order', jobTaskOrder.id, 'view']">{{ jobTaskOrder.id }}</a></td>
                    <td>{{ jobTaskOrder.taskSeqId }}</td>
                    <td>{{ jobTaskOrder.jobTaskStatusFlag }}</td>
                    <td>{{ jobTaskOrder.configVersion }}</td>
                    <td>
                        <div *ngIf="jobTaskOrder.job">
                            <a [routerLink]="['/job', jobTaskOrder.job?.id, 'view']" >{{ jobTaskOrder.job?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="jobTaskOrder.task">
                            <a [routerLink]="['/task', jobTaskOrder.task?.id, 'view']" >{{ jobTaskOrder.task?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/job-task-order', jobTaskOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/job-task-order', jobTaskOrder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(jobTaskOrder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
